

.bola {
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  width: 35px;
  border: 1px solid #000000;
  background-color: #993399;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  color: #FFF;
  box-shadow: inset -10px -10px 10px #8a038a, inset 3px 3px 5px #FFF;
}
